[Desktop Entry]
Comment[en_US]=
Comment=
Exec=bash /home/ddmj/DDMJ/DDMJ_updates.sh
GenericName[en_US]=Check for DDMJ OS updates
GenericName=Check for DDMJ OS updates
Icon=alienarena
MimeType=
Name[en_US]=Check for DDMJ OS updates
Name=Check for DDMJ OS updates
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
